
@model CSNY_timelog.ViewModel.RegistrationViewModel    

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.password-strength.js")" type="text/javascript"></script>

<script type="text/javascript">

    function ValidateForm()
    {
        var error = "";        
        var OlsPwd = $('#OldPassword').val();
        var NewPwd = $('#Password').val();
        var ConfirmPwd = $('#ConfirmPassword').val();

        if (OlsPwd == "") {
            error += "Please Enter Old Password.\n";

        }
        if (NewPwd == "")
        {
            error += "Please Enter New Password.\n";

        }
        if (ConfirmPwd == "")
        {
            error += "Please Enter Confirm Password.\n ";
        }
        else 
        {
            if (NewPwd != ConfirmPwd && NewPwd != "")
            {
                error += "Please Check Password not Match.\n";
            }
        }

        if (error != "") {
            alert(error);
            return false;
        }
        else {


            var OrderViewModel =
                {
                   
                    Password: NewPwd, OldPassword: OlsPwd,
                };

            $.ajax({
                type: "POST",

                url: '@Url.Content("~/Account/reset_password")',
                // url: "/admin/show_find_user_detail",
                async: false,
                data: JSON.stringify(OrderViewModel),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                   @* if (data == "ADMIN") {

                        window.location = '@Url.Content("~/admin/index")';

                    }
                    else if (data = "therapist") {
                        window.location = '@Url.Content("~/Therapist/index")';
                    }
                    else {*@
                        window.location = '@Url.Content("~/Account/edit_profile")';
                  // }
                        // window.location = "http://localhost:2522/admin/index";
                    },
                error: function (data) {
                    //  alert(data);
                }

            });
            }
    }
</script>


  @using (Html.BeginForm()) 
  {       
        
        <div class="main_content">
          <div class="page_heading">
                       <p>Reset your Password</p>
          </div>         
         
            <br />
            <br />     
            <div class="editor-label">
                            <b>
                                 Current Password:
                           </b>
                        </div>
                        <div class="editor-field">
                           
                @Html.PasswordFor(m => m.OldPassword, new { @maxlength = "50" }) 
                         
                        </div>
                        <div style="clear: both;"></div>
                        <div class="editor-label">
                            <b>
                                 New Password:
                           </b>
                        </div>
                        <div class="editor-field">
                           
                @Html.PasswordFor(m => m.Password, new { @maxlength = "50" }) 
                         
                        </div>
                        <div style="clear: both;"></div>
                        <div class="editor-label"><b>Confirm Password: </b></div>
                        <div class="editor-field">
                           @Html.PasswordFor(model => model.ConfirmPassword) 
                            <br />
                            <br />
                             <input type="submit" value="Submit" id="btnSubmit" class="input_button" onclick="return ValidateForm()"/><br />
                        </div>
                       
                        <div style="clear: both;"></div>
                   </div>                
     }

     
@*<script type="text/javascript">
    $(document).ready(function () {

        var myPlugin = $("input[id='Newpwd']").password_strength();

        $("[id='btnSubmit']").click(function () {
            var $form = $('form');
            if ($form.valid()) {
                return myPlugin.metReq(); //return true or false
            }
        });

        $("[id='passwordPolicy']").click(function (event) {
            var width = 350, height = 300, left = (screen.width / 2) - (width / 2),
            top = (screen.height / 2) - (height / 2);
            window.open("~/xml/PasswordPolicy.xml", 'Password_poplicy',
	       'width=' + width + ',height=' + height + ',left=' + left + ',top=' + top);
            event.preventDefault();
            return false;
        });
    });
</script>*@
  
 
   

